@import "../../../assets/stylesheets/helpers";

.post-edit-page {

  &__loading {
    @extend %loading;
  }

  &__error {
    @extend %error;
  }

  &__post-components-loading {
    @extend %loading;
  }

  &__post-components-error {
    @extend %error;
  }

  &__form {
    margin-top: 2rem !important;
    background-color: #fff;
    padding: 3rem 2rem 2rem !important;
  }

  &__actions {
    margin-top: 2.5rem;
  }
}
