@import "../../../assets/stylesheets/helpers";

.post-list-page {

  &__banner {
    margin-bottom: 2rem !important;
  }

  &__loading {
    @extend %loading;
  }

  &__error {
    @extend %error;
  }
}

.post-list {
  display: grid;
  grid-gap: 2rem;
  margin-top: 1rem;
}

.post-list__item {
}

.post-list__empty-placeholder {
}

.post-list-page__actions {
  margin-top: 2.5rem;
}
