.post-list-page {
}

.post-list {
  display: grid;
  grid-gap: 2rem;
  margin-top: 1rem;
}

.post-list__item {
}

.post-list__empty-placeholder {
}

.post-list-page__actions {
  margin-top: 2.5rem;
}
