@import "../../../assets/stylesheets/helpers";

.post {

  &__loading {
    @extend %loading;
  }

  &__error {
    @extend %error;
  }
}

.post__actions {
  color: #aaa;
}

.post__action {

  & + & {
    margin-left: 1rem;
  }
}

.post__components {
  display: grid;
  grid-gap: 1rem;
}

.post__component {
}
